.food {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.backButton {
  background: gray;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.backButton:hover {
  background: #0056b3;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.addFood {
  font-size: 1.5rem;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 150px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.addFood:hover {
  background-color: #218838;
}

.cancelLink {
  margin-top: 20px;
  color: #3e63b9;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.cancelLink:hover {
  color: #344599;
}

.foodList {
  display: flex;
  flex-direction: column;
}

.foodDateGroup {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.dateHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.totalCalories {
  font-weight: bold;
  color: #000000;
}

.doughnutChartContainer {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.foodMealGroup {
  margin-top: 5px;
  margin-left: 15px;
}

.foodMealGroup h4 {
  color: #555;
  font-weight: bold;
  margin-bottom: 5px;
}

.mealFoodItems {
  margin-left: 10px;
}

.foodItem {
  margin-bottom: 8px;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.foodItemHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.foodItemHeader h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.foodItemHeader p {
  margin: 0;
  font-size: 0.9rem;
  color: #777;
}

.foodItem p {
  margin: 2px 0;
  font-size: 0.9rem;
  color: #666;
}

.foodItem button {
  margin-top: 3px;
  margin-right: 5px;
  font-size: 0.9rem;
}

.highlightedCalories {
  font-size: 1rem;
  font-weight: bold;
  color: #d9534f;
  background-color: #fff3f3;
  padding: 3px 8px;
  border-radius: 4px;
}
