@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  background-color: #f1f8e9;
  color: #4d259f;
  font-family: "Hanuman", serif;
  margin: 0;
  place-items: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.food-date-group {
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.food-meal-group {
  margin-top: 5px;
  margin-left: 15px;
}

.food-meal-group h4 {
  color: #555;
  font-weight: bold;
  margin-bottom: 5px;
}

.meal-food-items {
  margin-left: 10px;
}

.food-item {
  margin-bottom: 8px;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.food-item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.food-item-header h5 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.food-item-header p {
  margin: 0;
  font-size: 0.9rem;
  color: #777;
}

.food-item p {
  margin: 2px 0;
  font-size: 0.9rem;
  color: #666;
}

.food-item button {
  margin-top: 3px;
  margin-right: 5px;
  font-size: 0.9rem;
}

/* Highlighted calories */
.highlighted-calories {
  font-size: 1rem;
  font-weight: bold;
  color: #d9534f; /* Red color */
  background-color: #fff3f3; /* Light red background */
  padding: 3px 8px;
  border-radius: 4px;
}

.doughnut-chart-container {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.date-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.total-calories {
  font-weight: bold;
  color: #000000;
}
